@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root{
    --main-color : blueviolet;
}

*{
    margin: 0;
    padding: 0;
}
.navbar{
    padding: .7rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    background-color: var(--main-color);
}
.navbar ul li{
    list-style: none;
    display: inline;
    margin-right: 10px;
}
.main-section{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.main-section table{
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow: auto;
    
}
.table-name{
    padding: .5rem;
    
    width: 300px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    
}