@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root{
    --main-color : blueviolet;
}

*{
    margin: 0;
    padding: 0;
}
.navbar{
    padding: .7rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    
    background-color: var(--main-color);
}
.navbar ul li{
    list-style: none;
    display: inline;
    
    margin-right: 10px;
    
}
.notes{
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
    padding: 1.5rem;
    margin: 2rem;
    width: 800px;
}
.main-section{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#textarea{
    width: 100%;
    min-height: 100px;
    padding: .5rem;
}
#text-view{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}
